---
interface Props {
  class?: string;
  [x: string]: any;
}

const defaultClass="default transition focus-visible:ring-2 ring-offset-2 ring-gray-200";
const { class: className = defaultClass, ...rest } = Astro.props;
---

<button {...rest} class={className} aria-label="button-label">
  <slot/>
</button>

<style>
  .default{
    padding: 0.5rem 0.25rem;
    background-color: rgb(4, 20, 250);
    border-radius: 0.25rem;
    text-align: center;
  }
  .default:hover{
    background-color: rgb(88, 161, 250);
  }
</style>
