---
interface Props {
    class?: string;
    [x: string]: any;
}
const defaulClass='horizontal bg-red-400';
const { class: className = defaulClass, ...rest } = Astro.props;
---
<span {...rest} class:list={[className]}></span>

<style>
    .vertical{
        height: 100px;
        width: 0.5rem;
    }
    .horizontal{
        width: 100%;
        height: 0.5rem;
    }
</style>