---
interface Props {
    class?: string;
    [x: string]: any;
}

const defaulClass='default';
const { class: className = defaulClass, ...rest } = Astro.props;
---

<table class={className} {...rest}>
    <thead>
        <slot name="thead"/>
    </thead>
    <slot/>
    <tfoot>
        <slot name="tfooter"/>
    </tfoot>
</table>

<style>
    .default{
        display: flex;
        flex-direction: column;
    }
</style>
