---
interface Props {
    class?: string;
    [x: string]: any;
}

const defaulClass='default';
const { class: className= defaulClass, ...rest } = Astro.props;
---

<div {...rest} class={className}>
    <slot/>
</div>

<style>
    .default{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.75rem;
    }
</style>