---
interface Props {
    class?: string;
    [x: string]: any;
}
const defaulClass='default';
const { class: className = defaulClass, ...rest } = Astro.props;
---

<div class:list={[className, 'stack']} {...rest}>
    <slot/>
</div>

<style>
    .default{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }
</style>

<script>
    const elements = document.querySelectorAll('.stack > *');
    if( elements){
        const distance = 20;
        for(let i=0; i < elements.length; i++){
            const element = elements[i] as HTMLElement;
            element.style.position = 'absolute';
            element.style.top = (distance*i).toString()+'px';
        }
    }
</script>